<html>

<body>
    <h1>Add User Page</h1>
    <form action="/addUser/newUser" method="POST">
        First Name: <input type="text" name="firstName"></br> </br>
        Last Name: <input type="text" name="lastName"></br></br>
        UserName : <input type="text" name="username"></br></br>
        Created data: <%= today %> </br></br>
        Session Time Out : <input type="text" name="session"></br></br>
        Permissions :<br />
        <ul>
            <li>
                View Subscriptions <input type="checkbox" name="permissions" value="View Subscriptions"><br>
            </li>
            <li>
                Create Subscriptions <input type="checkbox" name="permissions" value="Create Subscriptions"><br>
            </li>
            <li>
                Delete Subscriptions <input type="checkbox" name="permissions" value="Delete Subscriptions"><br>
            </li>
            <li>
                Update Subscriptions <input type="checkbox" name="permissions" value="Update Subscriptions"><br>
            </li>
            <li>
                View Movies <input type="checkbox" name="permissions" value="View Movies"><br>
            </li>
            <li>
                Create Movies <input type="checkbox" name="permissions" value="Create Movies"><br>
            </li>
            <li>
                Delete Movies <input type="checkbox" name="permissions" value="Delete Movies"><br>
            </li>
            <li>
                Update Movies <input type="checkbox" name="permissions" value="Update Movies"><br>
            </li>
        </ul> <br/>
        <input type="submit" name="action" value="Save" >
        <input type="submit" name="action" value="Cancel">
      
        
    </form>

</body>

</html>