<html>

<body>
    <h3>Movies - Subscriptions Web Site </h3>
    <h3>Create An Account</h3>

    <form action="/createAccount/user" method="POST">

        User Name : <input type="text" name="username"><br /><br />
        Password : <input type="password" name="password"> <br /><br />

        <input type="submit" value="Create"><br /><br />

    </form>

    <% if(msg !='' ) { %>
        <div>
            <%= msg %>
        </div>
        <% } %>

</body>

</html>