<html>

<body>
    <h1>Menu Page </h1>
    <h3> Welcome <%= username %> <br></h3>

    <a href="/moviesPage">Movies </a> <br><br>
    <a href="/subscriptionsPage">Subscriptions </a><br><br>
    <a href="/logout">Logout </a><br><br>

    <% if(username==="Admin" ) { %>
        <div>
            <a href="/usersManagementPage">Manage Users</a>
        </div>
        <% } %>

</body>

</html>