<html>

<body>
    <h1>Subscriptions Page </h1>
    <h3> Welcome <%= username %> <br></h3>

    <a href="/allMembers">All Members </a> <br><br>
    <a href="/addMember">Add Member </a><br><br>

    <% if(msg !='' ) { %>
        <div>
            <%= msg %>
        </div>
        <% } %>
</body>

</html>