<html>

<body>
    <h1>Manage Users Page </h1>
    <h3> Welcome <%= username %> <br></h3>

    <a href="/allUsers">All Users </a> <br><br>
    <a href="/addUser">Add User </a><br><br>

</body>

</html>